/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

a {
	color: #2f828e !important
}
a:hover {
	color: #3EBBD3 !important
}
footer a {
	color: #fff !important
}
.navigationSlider .slidingNav ul li a {
	color: #fff !important
}
.navigationSlider .slidingNav ul li a:hover {
	color: #3EBBD3 !important
}
