/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Sans:wght@400;700&display=swap");
:root {
  --ifm-color-primary: #3ebbd3;
  --ifm-color-primary-dark: #212121;
  --ifm-color-primary-darker: #424242;
  --ifm-color-primary-darkest: #757575;
  --ifm-color-primary-light: #5ecfe2;
  --ifm-color-primary-lighter: #88ddeb;
  --ifm-color-primary-lightest: #b6ebf3;
}
body {
  font-family: "PT Sans", sans-serif;
}
h1 {
  font-family: "PT Sans", sans-serif;
  /*font-size: 101.4px;*/
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.5px;
}
h2 {
  font-family: "PT Sans", sans-serif;
  /*font-size: 63.4px;*/
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
}
h3 {
  font-family: "PT Sans", sans-serif;
  /*font-size: 50.7px;*/
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
h4 {
  font-family: "PT Sans", sans-serif;
  /*font-size: 35.9px;*/
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.25px;
}
h5 {
  font-family: "PT Sans", sans-serif;
  /*font-size: 25.4px;*/
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
h6 {
  font-family: "PT Sans", sans-serif;
  /*font-size: 21.1px;*/
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.25px;
}
button {
  font-family: "PT Sans", sans-serif;
  /*font-size: 14.8px;*/
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: 1.25px;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 15.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: 0.5px;
}

article > div > span.badge.badge--secondary {
  display: none;
}

.container-border {
  padding: 25px 16px 24px;
  border: solid 1px #dadde1;
}

.content {
  padding-right: 20px;
}

.logo{
  flex-direction: center;
  width: 50%;
  margin: 0 25%;
}

.left-screenshot{
  width: 45%;
  flex-direction: column;
  flex-grow: 0;
  margin: 5% 5% 0 2.5%;
}

.right-screenshot{
  width: 45%;
  flex-direction: column;
  flex-grow: 0;
  margin: 5% 0 0;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
  display: block;
}

.lightbox a img{
  display: block;
  width: auto;
  height: 90%;
  margin:auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.table-container{
  text-align: center;
  margin: 5% 5% 5% 0;
}

.table-container table td{
  padding: 1%;
}

.table-container table td a img {
  width: 50%;
}
