/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

/* Title, StartResource */
#section-title-startResource-id {
  font-family: Roboto;
  font-size: 51.4px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

/* Blue box from title StartResource */
.box-title-startResource {
  width: 9px;
  height: 60px;
  margin: 0 16px 0 0;
  background-color: #2d9cdb;
  margin-right: 16px;
}

/* customCard dimentions */
.cardroot {
  width: 360px;
  height: 240px;
  position: relative;
}

/* This is for Link berfore the efect, customCard */
#box-link-id-customCard::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  background: #2d9cdb;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

/* This for linkEffect, customCard */
.cardroot:hover #box-link-id-customCard::before {
  visibility: visible;
  transform: scaleX(1);
  cursor: pointer;
}

/* Link style customCard */
#link-id-customCard {
  font-family: Roboto;
  font-size: 18.4px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.13px;
  cursor: pointer;
}

/* This change customCard header */
.cardroot:hover .header-transition {
  background-color: #2d9cdb;
}

/* This change customCard header */
.cardroot:hover #header-title {
  color: #f2f2f2;
}

/* Header colors transictions customCard */
.header-transition {
  height: 56px;
  transition: all .25s ease-in-out;
}

/* size customCard images */
.card-img {
  width: 42;
  height: 42;
}

/* Container image customCard */
.card-img-container {
  width: 84.2px;
  height: 84.2px;
  flex-grow: 0;
  margin: 13px 16.3px 14.4px calc(100% - 101px);
  margin-right: 16.8;
  padding: 23px 13.7px 23.4px 14.5px;
  border: solid 2px #333;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* Header title, customCard */
#header-title {
  font-family: Roboto;
  font-size: 18.4px;
  line-height: 1.71;
  letter-spacing: 0.66px;
}


@media screen and (max-width: 720px) {

  .card-img {
    width: 25;
    height: 25;
  }

  .card-img-container {
    width: 54.2px;
    height: 54.2px;
    margin: 10px 16.3px 14.4px calc(100% - 70.6px);
    padding: 11px 7.6px 11.1px;
    transition: all .25s ease-in-out;
  }

  #section-title-startResource-id {
    font-size: 35px;
    font-weight: 500;
  }

  .header-transition {
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .card-img {
    width: 42;
    height: 42;
  }

  /* Container image customCard */
  .card-img-container {
    width: 84.2px;
    height: 84.2px;
    flex-grow: 0;
    margin: 13px 16.3px 14.4px calc(100% - 101px);
    margin-right: 16.8;
    transition: all .25s ease-in-out;
  }

  .header-transition {
    height: 56px;
  }
}

@media screen and (max-width: 400px) {

  #section-title-startResource-id {
    font-size: 18px;
    font-weight: 500;
  }

  .box-title-startResource {
    width: 3.3px;
    height: 22.3px;
    margin-right: 8px;
  }

  #link-id-customCard {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.07px;
  }

  #header-title {
    font-size: 11.1px;
    line-height: 1.26;
    letter-spacing: 0.29px;
  }

  .card-img {
    width: 21;
    height: 18;
  }

  .card-img-container {
    width: 40.2px;
    height: 40.2px;
    flex-grow: 0;
    margin: 4px 16.3px 14.4px calc(100% - 54.6px);
    padding: 11px 7.6px 11.1px;
    transition: all .25s ease-in-out;
  }

  .header-transition {
    height: 24px;
  }
}