
.container-border {
    padding: 25px 16px 24px;
    border: solid 1px #dadde1;
  }
  
  .content {
    padding-right: 20px;
  }
  
  .logo{
    flex-direction: center;
    width: 50%;
    margin: 0 25%;
  }
  
  .left-screenshot{
    width: 45%;
    flex-direction: column;
    flex-grow: 0;
    margin: 5% 5% 0 2.5%;
  }
  
  .right-screenshot{
    width: 45%;
    flex-direction: column;
    flex-grow: 0;
    margin: 5% 0 0;
  }
  
  .lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .lightbox:target {
    display: block;
  }
  
  .lightbox a img{
    display: block;
    width: auto;
    height: 90%;
    margin:auto;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .table-container{
    text-align: center;
    margin: 5% 5% 5% 0;
  }
  
  .table-container table td{
    padding: 1%;
  }
  
  .table-container table td a img {
    width: 50%;
  }
  